; use deps.edn with the :shadow alias
{:deps {:aliases [:shadow]}
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "js"
                :modules {:main {:entries [com.mjdowney.kelly-noise]}}
                :devtools {:preloads [hashp.core]
                           :repl-init-ns com.mjdowney.kelly-noise
                           :repl-pprint true
                           :before-load com.mjdowney.kelly-noise/stop
                           :after-load com.mjdowney.kelly-noise/start
                           :http-root "public"
                           :http-port 8020}}

          :site {:target :browser
                 :output-dir "../matthewdowney.github.io/static/js/kelly-noise"
                 :asset-path "/static/js/kelly-noise"
                 :modules {:main {:entries [com.mjdowney.kelly-noise]}}
                 :devtools {:preloads [hashp.core]
                            :repl-init-ns com.mjdowney.kelly-noise
                            :repl-pprint true
                            :before-load com.mjdowney.kelly-noise/stop
                            :after-load com.mjdowney.kelly-noise/start
                            :http-root "public"
                            :http-port 8020}}}}
